<!DOCTYPE html>
<html>
    <head>
        <title>Recibo</title>
        <meta charset="UTF-8">
        <link href="{{ asset('bundles/wzsistemascobranca/css/style.default.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
           window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px; font-family: Arial; font-size: 14px;">
        <table style="padding: 1%; margin: 0 50px 0; width: 880px">
            <tr>
                <td style="text-align: left; width: 25%">
                    <img width="160" src="{{ asset('bundles/wzsistemascobranca/images/image000.png') }}" />
                </td>
                <td style="text-align: center; width: 50%">
                    <h5><strong>WZSistemas </strong></h5>
                    Endereço do WZSistemas
                    <br/>
                    CEP 
                    <br/>
                    Telefone 
                   <br/>
                    <u>email@sindicato.com</u>
                </td>
                <td style="width: 25%; text-align: right;">
                    <strong>RECIBO</strong>
                    <br/><br/>
                    Nº {{ numeroParcela }}/{{ anoParcela }}
                    <br/><br/><br/>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <br/><br/>
                    <h4>RECIBO DE PAGAMENTO</h4>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/>
                    Recebemos do(a) Sr(a). <strong>{{ clienteNome }}</strong> a quantia de <strong>{{ valor|valorExtenso() }}</strong> referente aopagamento da anuidade do WZSistemas dos Pescadores de Tramandaí.
                </td>
            </tr>
            <tr>
                <td style="" colspan="2">
                    <br/><br/>
                    Tramandaí, {{ dia }} de {{ mes }} de {{ ano }}.
                </td>
                <td style="">
                    <br/><br/>
                    Tipo de Associação
                    <br/>
                    <strong></strong>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/><br/>
                    _____________________________________
                    <br/>
                    Assinatura
                </td>
            </tr>
        </table>

    </body>
</html>
