{% extends "WZSistemasCobrancaBundle::layout.html.twig" %}
{% form_theme form 'WZSistemasCobrancaBundle:Form:fields.html.twig' %}
{% form_theme form.dividas 'WZSistemasCobrancaBundle:Form:dividas.html.twig' %}
{% form_theme form.dependentes 'WZSistemasCobrancaBundle:Form:dependentes.html.twig' %}
{% block title %}WZSistemas Litoral Centro | Cadastro{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/wzsistemascobranca/css/dropzone.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/bootbox.min.js') }}"></script>
    {% include 'WZSistemasCobrancaBundle::Cliente/cadastro.js.twig' %}
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Cadastros</a></li>
                <li>{{ cliente.getid>0 ? "Edição" : "Cadastro" }}</li>
            </ul>
            <h4>{{ cliente.getid>0 ? "Edição" : "Cadastro" }}</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Dados pessoais</h5>
                        <p>
                            Compos com * são obrigatórios
                        </p>
                    </div>
                    <div class="panel-body">
                        {{ form_errors(form) }}
                        <div class="row">
                            {{ form_row(form.nome) }}
                            {{ form_row(form.nascimento) }}
                            {{ form_row(form.cpf) }}
                            {{ form_row(form.rg) }}
                            {{ form_row(form.cep) }}
                            {{ form_row(form.uf) }}
                            {{ form_row(form.cidade) }}
                            {{ form_row(form.bairro) }}
                            {{ form_row(form.endereco) }}
                            {{ form_row(form.telefone) }}
                            {{ form_row(form.telefone1) }}
                            {{ form_row(form.telefone2) }}
                            {{ form_row(form.profissao) }}
                            {{ form_row(form.email) }}
                        </div><!-- row -->
                    </div><!-- panel-body -->
                </div><!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Foto</h5>
                    </div>
                    <div class="panel-body">
                        <div class="media-options foto">
                            <button type="button" class="btn btn-success fotoinput-button">Adicionar Foto</button>
                        </div>
                        {{ form_widget(form.foto) }}
                        
                        <div  class="row media-manager">
                            <div id="previews-foto">
                                {% include 'WZSistemasCobrancaBundle::Cliente/upload-template.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Dependentes</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="dependentes" data-prototype="{{ form_row(form.dependentes.vars.prototype)|e  }}" class="dependentes">
                                {% for dependente in form.dependentes %}
                                    {{ form_row(dependente) }}
                                {% endfor %} 
                            </div>
                            <div class="col-md-12">
                                <button id="add-dependente" type="button" class="btn btn-success">Adicionar Dependente</button>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Dívidas</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="dividas" data-prototype="{{ form_row(form.dividas.vars.prototype)|e  }}" class="dividas">
                                {% for divida in form.dividas %}
                                    {{ form_row(divida) }}
                                {% endfor %} 
                            </div>
                            <div class="col-md-12">
                                <button id="add-divida" type="button" class="btn btn-success">Adicionar Dívida</button>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Arquivos</h5>
                    </div>
                    <div class="panel-body">
                        <div class="media-options arquivos">
                            <button type="button" class="btn btn-success fileinput-button">Adicionar Arquivos</button>
                        </div>
                        <hr/>
                        <div  class="row media-manager">
                            <div id="previews-arquivos">
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->


                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <button class="btn btn-primary mr5">Salvar</button>
                            <img src="{{ asset('bundles/wzsistemascobranca/images/loading.gif') }}" id="loading" alt="Carregando" />
                            <a class="btn btn-danger" href="javascript:history.back()">Voltar</a>
                        </div>
                    </div>
                </div><!-- panel -->
                
                {{ form_row(form._token) }}
            </form>
            
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}