{% extends "WZSistemasCobrancaBundle::layout.html.twig" %}
{% block title %}WZSistemas Litoral Centro | Clientes{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/wzsistemascobranca/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            var exRowTable = jQuery('#exRowTable').DataTable({
                    responsive: true,
                    "ajax": "{{ path('clientes_pagination') }}",
                });

                // DataTables Length to Select2
                jQuery('div.dataTables_length select').removeClass('form-control input-sm');
                jQuery('div.dataTables_length select').css({width: '60px'});
                jQuery('div.dataTables_length select').select2({
                    minimumResultsForSearch: -1
                });

        });
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="">Clientes</a></li>
                    <li>Lista de Clientes</li>
                </ul>
                <h4>Clientes</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            <table id="exRowTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Aniversário</th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
