{% extends "WZSistemasCobrancaBundle::layout.html.twig" %}
{% block title %}WZSistemas Litoral Centro | Ficha do cliente{% endblock %}
{% block head %}
    
    <link href="{{ asset('bundles/wzsistemascobranca/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/wzsistemascobranca/js/number_format.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            
            
            
        });
        
        function callbackBuscaCartao(data) {            
            jQuery(".locked").fadeOut();
            if (data.result) {
                jQuery(".perfilCliente, .registros").remove();
                jQuery(".contentpanel").append(data.html);
                jQuery("#inserirRegistro").click(inseriRegistro);
            } else {
                bootbox.alert(data.msg);
            }
        }

        function inseriRegistro() {
            if (jQuery("#textRegistro").val()!="") {
                jQuery(".locked").fadeIn();
                jQuery.post('{{ path('inserir_registro_conveniada')}}', {id: jQuery("#idCliente").val(), texto: jQuery("#textRegistro").val()})
                        .done(callbackInseriRegistro)
                        .fail(defaultError);
            } else {
                bootbox.alert("Preencha alguma coisa para registrar histórico");
            }
        }
        function callbackInseriRegistro(data) {
            jQuery(".perfilCliente, .registros").remove();
            jQuery(".locked").fadeOut();
            bootbox.alert(data);
        }
        
        function buscaCartao() {
            if (jQuery("#cartao").val()=="") {
                bootbox.alert("Insira o número do cartão");
                return false;
            }
            jQuery(".locked").fadeIn();
            jQuery.post('{{ path('consultar_cartao')}}', {numero: jQuery("#cartao").val()}, callbackBuscaCartao, "json")
                .fail(defaultError);
        }
        function defaultError(xhr, textStatus, errorThrown) {
                jQuery(".locked").fadeOut();
                bootbox.alert("Erro ao processar informação");
        }

       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('clientes') }}">Clientes</a></li>
                    <li>Consultar Cliente</li>
                </ul>
                <h4>Consultar Cliente</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Buscar Cliente</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <p>Insira o número do cartão do pescador abaixo.</p>
                <div class="row">
                    <div class="col-md-6">
                        <input placeholder="Número do cartão" type="text" value="" class="form-control" id="cartao">
                    </div>
                    <div class="col-md-6">
                        <button onclick="buscaCartao()" class="btn btn-primary mr5">Buscar</button>
                    </div>
                </div>

            </div><!-- panel-body -->
        </div>
     </div><!-- contentpanel -->
{% endblock %}
