<div class="headerwrapper">
    <div class="header-left">
        <a style="color: #DDD" href="index.html" class="logo">
            {#<img src="{{ asset('bundles/wzsistemascobranca/images/logo.png') }}" alt="" /> #}
            WZSISTEMAS
        </a>
        <div class="pull-right">
            <a href="" class="menu-collapse">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div><!-- header-left -->

    <div class="header-right">

        <div class="pull-right">

            <div class="btn-group btn-group-option">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a href="{{ path('trocar_senha') }}"><i class="glyphicon glyphicon-lock"></i>Trocar Senha</a></li>
                  <li><a href="{{ path('_logout') }}"><i class="glyphicon glyphicon-log-out"></i>Sair</a></li>
                </ul>
            </div><!-- btn-group -->

        </div><!-- pull-right -->

    </div><!-- header-right -->

</div><!-- headerwrapper -->
