<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/wzsistemascobranca/css/style.default.css') }}" rel="stylesheet">
        <script>
            window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px;">
        <h1><center>Relatório de Aniversariantes</center></h1>
        <table class="table" style="padding: 1%; margin: 0 50px; width: 880px;">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th>
                        Data de Nascimento
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes  %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.nascimento.format("d/m/Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </body>
</html>